.column {
  position: relative;
  float: left;
  height: 100%;
  width: 28.1%;
  margin-right: 5.5%;
  line-height: 1.1875em;
  &:last-child {
    margin-right: 0;
  }
}

.FacilityImage {
  width: 100%;
  height: 60%;
  margin-bottom: 12%;
  position: relative;
  img {
    width: 100%;
    height: 100%;
  }
  [class*="circle"] {
    background: rgba(255, 255, 255, 0.06);
    border-radius: 100%;
    border: none;
    position: absolute;
    &[class*="small"] {
      width: 56.3%;
      height: 95%;
      left: 57.7%;
      top: -12.1%;
    }
    &[class*="big"] {
      width: 76.2%;
      height: 128.3%;
      left: 36%;
      top: -6.5%;
    }
  }
}

[class*="FacilityContent"] {
  h3 {
    font-size: 1.25em;
    font-weight: 600;
    line-height: 1.6875em;
  }
  h5 {
    font-size: 0.9em;
    font-weight: 300;
  }
  &[class*="multiple"] h3 {
    width: 86%;
  }
  &[class*="multiple"] h5 {
    position: absolute;
    top: 5em;
  }
  &[class*="single"] {
    padding-left: 9.8%;
    padding-right: 9.8%;
  }
  &[class*="single"] h3 {
    margin-bottom: 6.4%;
  }
}
