.FiltersContainer {
  width: 62.8%;
  height: 100%;
  margin-left: 1.6%;
  justify-content: flex-end;
  .Filters {
    position: relative;
    width: 5.5%;
    height: 35%;
    .FiltersButton {
      display: flex;
      align-items: center;
      justify-content: center;

      cursor: pointer;
      border: 1px solid #bfd2e2;
      background-color: white;
      border-radius: 5px;
      width: 100%;
      height: 100%;
      img {
        height: 50%;
        width: 50%;
      }
    }

    .FiltersList {
      padding: 65% 0 15% 65%;
      width: 11vw;
      position: absolute;
      top: 120%;
      right: 0;
      background: #ffffff;
      box-shadow: 4px 0px 15px rgba(26, 63, 156, 0.2);
      border-radius: 10px;

      font-weight: 300;
      font-size: 12px;
      line-height: 16px;

      p {
        margin-bottom: 12.5%;
      }

      span {
        display: flex;
        align-content: flex-start;
        input {
          width: 8.5%;
          height: auto;
          margin-bottom: 12.5%;
          margin-right: 8.5%;
        }
      }
    }
  }
}
