[class*="Rounded"] {
  box-shadow: 2px 2px 4px rgba(26, 63, 156, 0.2);
  border-radius: 10px;
  > * {
    display: flex;
    align-items: center;
  }
  padding: 0.5em 0.75%;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.ClientOffice {
  margin: 3.5% 2.1875% 0 11.3%;
  width: 85%;
  height: 86vh;
  background: #ffffff;
  border: 1px solid rgba(42, 68, 134, 0.1);
  border-radius: 15px 15px 0px 0px;
  overflow: scroll;
}
